* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 1440px;
}

main {
    background-color: #F8F3FF;
}

header {
    height: 96px;
    background-color: #F8F3FF;
    padding-left: 64px;
    padding-right: 176px;
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 359px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.menu > li {
    list-style: none;
}

.menu > li > a {
    text-decoration: none;
    color: #8E43ED;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.bio-info {
    height: 800px;
    position: relative;
    background-color: white;
    border-top-left-radius: 337px 259px;
    border-bottom-right-radius: 337px 259px;
    padding: 100px 176px 100px 64px;
}

.bio-info::after {
    content: "";
    display: block;
    width: 170px;
    height: 250px;
    position: absolute;
    bottom: 45px;
    left: 0;
    background: url("images/person-icon.png") no-repeat;
    z-index: 1;
}

.bio-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bio-container > img {
    width: 528px;
    height: 600px;
    border-radius: 32px;
}

.person-info {
    width: 640px;
    height: 512px;
}

.person-info > h1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
    margin: 0;
    margin-bottom: 24px;
}

.person-info > ul {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.info-item {
    list-style: none;
    margin-right: 32px;
}

.info-item > span {
    color: #8E43ED;
}

.person-info > h3 {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 27px;
    line-height: 36px;
}

.person-info p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.bio-form {
    height: 750px;
    padding-top: 56px;
    padding-left: 64px;
}

.bio-form > h2 {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 40px;
    line-height: 72px;
}

.input-fields {
    margin-bottom: 56px;
    display: grid;
    grid-template-columns: 304px 304px 304px;
    row-gap: 40px;
    column-gap: 32px;
}

.input-fields > div {
    margin: 0;
    padding: 0;
    height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-fields > div > label {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.input-fields > div > input {
    height: 56px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #D9BBFF;
    background: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.bio-form > .file-area {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 976px;
    height: 104px;
    background: white;
    border: 1px dashed #D9BBFF;
    border-radius: 12px;
}

.file-area-container > span {
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #9993BD;
}

.file-area-container > button {
    background: white;
    border: 1px solid #8E43ED;
    color: #8E43ED;
}

.bio-form  button {
    width: 211px;
    height: 56px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.bio-form > .file-container {
    margin-bottom: 48px;
    width: 976px;
    height: 56px;
    display: flex;
    flex-direction: row;
}

.bio-form > .file-container > .file {
    width: 256px;
    height: 100%;
    margin-right: 8px;
    padding: 8px 24px 8px 12px;
    background: #FFFFFF;
    border: 1px solid #D9BBFF;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}

.file > div {
    display: flex;
    flex-direction: row;
}

.file .preview {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.file .info  {
    display: flex;
    flex-direction: column;
}


.file .info > .name  {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;    
    color: #303030;
}


.file .info > .format-and-size {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #AFAFAF;
}

.file .remove-button {
    margin: auto 0;
    width: 10px;
    height: 12px;
}

.bio-form > .submit {
    height: 48px;
    display: flex;
    flex-direction: row;
}

.bio-form > .submit > button {
    background: #DED9E4;
    color: white;
}

.gallery {
    height: 647px;
    background-color: white;
}